
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* body {
  background-image: url('./body1.jpg');
} */

.timer {
    background-color: #85adad;
    padding: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:20px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: 5px 10px 15px red;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* form container ------------------------------------*/
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid 	 #00bfff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 20px;
  }
/* Input Class ------------------------------------*/
 .input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
label {
    color: #f2f2f2;
}
img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
button {
  width: 100%;
  background-color: #0099e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.contact {
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
ul {
  list-style: none;
}
li {
  display: inline;
  background-color: #0099e6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 40px;
}
.nav {
  margin: 20px 10px;
}
.searc {
    float: right;
    margin-right: 20px;
}
.searcinput {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.src {
  cursor: pointer;
}
.para1 {
  padding: 20px;
  margin-top: 70px;
  font-size: 30px;
}
.para {
  padding: 20px;
  font-size: 30px;
}
@media  only screen and (min-width:300px) and (max-width:768px){
  ul {
    margin: 10px;
    padding: 0px;
  }
  li {
    display: block;
    background-color: #0099e6;
    padding: 10px 20px;
    border-radius: 10px;
    font-size:15px;
  }
  .searcinput {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    width: 60%;
  }
  .searc {
    float: left;
    margin-right: 15px;
    margin-left: 8px;
    width: 95%;
}
.para1 {
  padding: 20px;
  font-size: 20px;
}
.para {
  padding: 20px;
  font-size: 20px;
}
}
@media  only screen and (min-width:768px) and (max-width:1024px){
  li {
    display: inline;
    background-color: #0099e6;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;   
  }
  .searcinput {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    width: 70%;
  }
  .searc {
    float: right;
    margin-right: 10px;
    /* margin-left: 8px; */
    width: 50%;
}
  .para1 {
    padding: 20px;
    font-size: 22px;
  }
  .para {
    padding: 20px;
    font-size: 22px;
  }
}
 
